<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
<body>

      <div class="layout">
        <div class="logo">
          <img src="" alt="Logo">
        </div>
        <div class="nav">
            <h1>DAW</h1>
        </div>
        <div class="avatar">
          <img src="" alt="Avatar">
        </div>
        <div class="margen-1">

        </div>
        <div class="sidebar">
            <a href="">Inicio</a>
            <a href="">Nosotros</a>
            <a href="">Noticias</a>
        </div>
        <div class="margen-2"></div>
        <div class="margen-content-1"></div>
        <div class="content">
            <h1>Tu Portal Integral de Deportes y Salud</h1>
            <p class="content-text-1">Mejora tu bienestar físico y mental con consejos, noticias y guias de expertos.</p>
            <h3>
              ¿Estás buscando mejorar tu salud y bienestar general? ¿Te apasionan los deportes y buscas estar al día con las últimas noticias y tendencias? ¡En Tu Portal Integral de Deportes
              y Salud encontrarás todo lo que necesitas para alcanzar tus objetivos!
            </h3>
            <p class="content-text-2">¿Qué ofrecemos?<br>

              En nuestro sitio web encontrarás una amplia variedad de contenido relacionado con deportes y salud, incluyendo:

              Artículos informativos: Escritos por expertos en salud y deporte, te brindarán información actualizada sobre diversos temas como:</p>

        </div>
      </div>
      <div class="margen-content-2">
        <p>&copy;Copyright 2024 . DAW</p>
      </div>





</body>
</html>


<router-outlet />
